<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://pbs.twimg.com/profile_images/378800000131079514/8d805247eb6a2988ceaec34dd97128c9_400x400.png"
                    id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Enter your username or email">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Enter your password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Forget password -->
            <div id="formFooter">
                <a class="register underlineHover" href="#">Register</a>
                <br />
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</body>