<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://pbs.twimg.com/profile_images/378800000131079514/8d805247eb6a2988ceaec34dd97128c9_400x400.png"
                    id="icon" alt="Empresa Icon" />
            </div>

            <!-- Register Form -->
            <form>
                <input type="text" name="registerFirstName" id="registerFirstName" class="fadeIn second" placeholder="First name">
                <input type="text" name="regisrterLastName" id="regisrterLastName" class="fadeIn third" placeholder="Last name">
                <input type="email" name="registerEmail" id="registerEmail" class="fadeIn fourth" placeholder="Enter email">
                <input type="password" id="password" class="fadeIn fifth" name="register" placeholder="Password">
                <input type="password" id="confirmPassword" class="fadeIn sixth" name="register" placeholder="Confirm password">
                <input type="submit" class="fadeIn seventh" value="Register">
            </form>

            <!-- Aceptar condiciones y terminos -->
            <div id="formFooter">
                <label>
                    <input type="checkbox" value="terms">
                    &nbsp; I agree to the <a href="/terms">terms and conditions.</a>
                </label>
            </div>

        </div>
    </div>
</body> 
