<div class="left-menu">
    <img class="img-container" src="https://steemitimages.com/0x0/http://ipfs.io/ipfs/QmTQo4cxDZ5MoszQAK93JyhFedeMuj7j4x5P7tQnvRi4A5" alt="">
    <a class="btn btn-secondary btn-md btn-block" href="#" role="button">Dashboard</a>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-md btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administración
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Usuarios</a>
            <a class="dropdown-item" href="#">Operadores</a>
            <a class="dropdown-item" href="#">Categorías</a>
        </div>
    </div>
    <a class="btn btn-secondary btn-md btn-block" href="#" role="button">Mis Asignaciones</a>
</div>
