<div class="nav justify-content-end">
  <div class="avatar"
       id="dropdownMenuButton"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false" >
    <img src="https://www.kindpng.com/picc/m/105-1055656_account-user-profile-avatar-avatar-user-profile-icon.png"
         class="data-role dropdown-toggle "
         alt="Imagen de Perfil">

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Editar Perfil</a>
      <a class="dropdown-item" href="#">Cambiar Contraseña</a>
      <a class="dropdown-item" href="#">Notificaciones</a>
      <a class="dropdown-item" href="#">Salir</a>
    </div>
  </div>

</div>
